[Unit]
Description=IPFS daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/ipfs-pubsub-listen-demo.bash
Restart=on-failure
User={{ ipfs_sys_user_name }}

[Install]
WantedBy=multi-user.target
